@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "caveat", "sans-serif";
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    background: url("../images/friends-logo.webp") no-repeat center center;
    background-size: contain;
    width: 80vw;
    height: 20vh;
    margin: auto;
}

h1,
p {
    margin-bottom: 5px;
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

/* style the quiz game section */
.quizArea {
    height: fit-content;
    width: 80vw;
    margin: auto;
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.questions {
    height: fit-content;
    width: 60vw;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    background-color: rgba(0, 0, 255, 0.336);

}

.answerBtns {
    display: flex;
    font-size: 1em;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.btn {
    margin-top: 20px;
}

.btn,
.answerButton {
    background-color: rgb(255, 255, 0);
    color: black;
    font-size: 1.5em;
    box-shadow: 0 0 10px 2px;
    margin-top: 10px;
    border-radius: 5px;
}

.answerButton {
    width: 60vw;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(183, 0, 255, 0.24);
}

.scoreArea {
    height: fit-content;
    width: fit-content;
    margin: auto;
    font-size: 2em;
    padding-top: 16px;
    padding-bottom: 16px'

}

/* Welcome page section */
.popUp {
    border: 1px solid black;
    background-color: purple;
    color: white;
    height: 60vh;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 5px;
}

.controls {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

/* styles for answer selections*/
.correct {
    background-color: rgba(0, 128, 0, 0.658);
}

.wrong {
    background-color: rgba(255, 0, 0, 0.596);
}

.hide {
    display: none;
}

/* style the modal for save highscores */
.modal {
    border: 1px solid black;
    box-shadow: 0 0 10px 2px;
    border-radius: 5px;
    background-color: white;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
}

input {
    display: flex;
    background-color:rgba(183, 0, 255, 0.144);
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.modalBtn {
    display: flex;
    background-color: blueviolet;
    color: black;

}

.leaderboard {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    width: 60vw;
    margin: 0 auto;
    box-shadow: 0 0 10px 2px;
}

.instructionText {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    background-color: white;
    color: black;
    width: 60vw;

}

@media screen and (max-width: 720px) {
    .popUp {
        height: 60vh;
        width: 80vw;
    }
}